name: Nixtla tests

# CINTENT >> MANUAL TRIGGER
# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  test:
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version: ['3.11']
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    # CINTENT >> INSERT_CINTENT
    - uses: JavidDitty/setup-cintent@3e5b2faf83a2ad32c22a1cd0f86f5f20ea53a5ab

    - name: Install other dependencies
      run: |
        pip install . \
          -r requirements/requirements-test.txt \
          -r requirements/requirements-extras-statsforecast.txt \
          -r requirements/requirements-extras-hierarchicalforecast.txt
          
    - name: Test with pytest
      run: |
        pytest -n2 --doctest-modules test/ext/statsforecast
        pytest -n2 --doctest-modules test/ext/hierarchicalforecast

    # CINTENT >> INSERT_CINTENT
    - name: Upload CIntent Artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: ${{ env.CINTENT_ARTIFACT_NAME }}
        path: ${{ env.CINTENT_LOGS }}
